@import '../abstract/variables';

.header {
  background-image: url('/assets/images/bg-1.svg');
  background-size: cover;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;

  &__container {
    height: 100%;
    padding-top: 150px;
  }

  &__title {
    font-size: 62px;
    font-weight: 900;
    line-height: 0.82;
    text-align: center;
    color: $color-primary;
    padding-top: 84px;
    text-transform: uppercase;
    margin-bottom: 0px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-out;
  }

  &__sub-title {
    margin-bottom: 0px;
    text-align: center;
    color: $color-primary;
    font-style: italic;
    font-size: 21px;
    font-weight: 600;
    padding-top: 20px;
    animation: moveInRight;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-out;
  }

  &__bitmap {
    display: flex;
    justify-content: center;
    margin-top: 67px;
  }

  &__button {
    display: flex;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      top: -103px;
      background-color: $color-primary;
      padding: 20px 83.5px 19px;
      border-radius: 29px;
      color: $color-secondary;
      box-shadow: 0 20px 30px 0 rgba(249, 131, 171, 0.5);
      animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
    }

    a:hover {
      text-decoration: none;
      color: $color-secondary;
    }
  }
}